In [107]:
import pandas as pd
import numpy as np

*Pandas provides flexible data structures and functions to work with structured data, making it ideal for tasks such as data cleaning, transformation, analysis, and visualization.*

In [ ]:
dictt={
    "a":[54,56,87,98],
    "b":["as","oi","h","oi"],
    "c":[10,20,30,40]
}
dictt=pd.DataFrame(dictt) #converting to data frame
dictt

In [ ]:
dictt["a"][2]
# first column name name then row name

In [109]:
dict1=dictt.to_csv("h1.csv",index=False)  #storing in a csv file without index(rows) name

In [ ]:
dictt.head() #print starting 5 rows

In [ ]:
dictt.tail()#print last 5 rows

In [112]:
dictt.describe()
#count mean max std min 25% 50% 75% max data show column wise of numerical column
d1=dictt.describe()

In [179]:
data=pd.read_csv("h1.csv")
#reading csv file using pandas

In [ ]:
data["a"][1]  #accessing data of csv 
#or we can also use loc or iloc function
#data["coln name"]["row name"]

In [115]:
# pandas has two data structure
# 1. series: one dimen array stores a single coln or row 
# 2. dataframe: tabular form data structure can store different types of data

In [ ]:
a=["sd",54,True]
a1=pd.Series(a)  #converting to a series(1d array)
a1[2]
type(a1) #checking type of a1

In [ ]:
data=pd.DataFrame(np.random.rand(10,5),index=np.arange(10))
data
type(data)

In [ ]:
data.describe()

In [ ]:
data[0][0]="kunal"  #string is of object type
data.dtypes

In [ ]:
#printnig index name
data.index

In [ ]:
#printnig column name
data.columns

In [ ]:
# converting data frame to numpy array
d1=data.to_numpy()
d1.shape
d1[2,3]

In [ ]:
#transpose
data.T

In [ ]:
#sorting index 
data.sort_index(axis=1,ascending=False)

In [ ]:
# copy of data frame
cpy=data.copy()
#now if we change anything in copy it doesnot have impact on main
cpy

In [ ]:
#accessing using loc function
data.loc[0,1]
# loc is used for accessing using row and column name not by indexing

In [ ]:
data.columns=list("abcde")
data
# data.loc[0,"a"]

In [128]:
# drop function
data=data.drop("e",axis=1)
# column name or row name as argument in drop function

In [ ]:
data.loc[[2,4],["a"]]  #accessing multiple element
# axis=0 for rows and 1 for columns
data.loc[:,["a"]]

In [ ]:
data.loc[(data["c"]>0.7) & (data["b"]<0.2)]
#can also apply condition

In [ ]:
# iloc: can access using just row index and column index
data.iloc[[1,2],:]

In [132]:
data.drop([1,4,5],inplace=True)
# inplace=true means update original dataframe
#by default drop delete row so if want to delete column use axis=1

In [ ]:
data.reset_index()  #reset index

In [ ]:
data.dropna(axis=1)
data.dropna(how="all") #if all row is null then it delete else no
data.dropna(how="any") #if any one then delete
data.loc[9,:]=[None,54,54,87]
data

In [ ]:
#argument subset keep=first(keep first occurance delete all) last false
data.drop_duplicates(subset=["b"],keep=False) #delete all
# mistake no axis function in suplicates

In [ ]:
# counting null value
data.isnull().sum()  #return number of null values column wise

In [ ]:
data.shape

In [ ]:
data.info()  #describe everything about column datatype how many null value

In [ ]:
data["a"].value_counts(dropna=False)  #count unique value

In [ ]:
data.notnull()  #true if not null

In [ ]:
# mistake dataframe({})
data=pd.DataFrame({
    "a":np.random.randint(10,20,3),
    "b":np.random.randint(20,100,3)
})
data

In [ ]:
#all give output column wise
print(data.describe())
print(data.mean())
print(data.median())
print(data.corr())
print(data.max())
print(data.count())

*corr=cov(x,y)/std(x)*std(y)*
<br>
*cov(x,y)=1/n-1(sigma(xi-mean(x))(yi-mean(y)))*
â€‹

In [ ]:
#accessing excel file
data=pd.read_excel("kkk.xlsx",sheet_name="Sheet1")
# used to access sheet 1 of kkk xlsx file
# write into excel
data.to_excel("kkk.xlsx",sheet_name="Sheet2")